.custom-slider-container {
  padding: 0 20px;
  background-color: var(--paleyellow);
  min-height: 557px !important;
  padding-top: 50px;
}

.productview-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: end;
  min-height: 400px;
  padding-top: 110px;
  height: 557px;

  gap: 20px;
  cursor: pointer;
}

.slider-arrows {
  width: 80px;
  height: 80px;
  background: #333;
  display: flex !important;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s;
}

.slider-arrows:hover {
  background: #333;
}

.slick-arrow {
  z-index: 20;
}

.slick-slider {
  padding: 0 40px;
}
