.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.content h2 {
  font-size: 16px;
  font-weight: 400;
}

.content h1 {
  font-size: 1.575rem;
  font-weight: 300;
}

.content p {
  font-size: 1rem;
  margin-top: 10px;
  line-height: 1.7;
}

@media (max-width: 700px) {
  .content button {
    width: 80%;
  }
}
