.section-3 {
  display: flex;
  height: 472px;
  padding: 150px 0 0;

  background-color: var(--paleyellow);
}

.sec-div {
  padding-left: 40px;
  width: 35%;
}
.sec-img {
  width: 65%;
}

.sec-img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 700px) {
  .section-3 {
    flex-direction: column;
    gap: 20px;
  }

  .sec-div {
    width: 100%;
  }

  .sec-img {
    width: 100%;
  }

  .section-4 {
    flex-direction: column;
  }
}
