.announcement-container {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  font-size: 14px;
}

.announcement-container.banner-1 {
  background-color: var(--lightyellow);
  color: #333333;
  line-height: 20px;
}

.announcement-container.banner-1 a {
  margin-left: 8px;
}

.announcement-container.banner-1 a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.announcement-container.banner-2 {
  background-color: var(--black);
  color: var(--paleyellow);
  line-height: 20px;
}
